# Server Configuration
PORT=5000
NODE_ENV=development

# Neon PostgreSQL Database Connection String
# Example:
DATABASE_URL="postgresql://neondb_owner:YOUR_NEON_PASSWORD@ep-sample-pool-123456-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require"
DIRECT_URL="postgresql://neondb_owner:YOUR_NEON_PASSWORD@ep-sample-pool-123456.us-east-2.aws.neon.tech/neondb?sslmode=require"

# JWT Secret & Expiry
JWT_SECRET=campus_pool_jwt_super_secret_key_2026
JWT_EXPIRES_IN=30d

# Optional: College Domain Restriction (e.g. college.edu)
ALLOWED_EMAIL_DOMAIN=
